@import './variables';
@import './setup';
@import './global';
@import './setup';
@import './main.scss';
@import './searchBar.scss';
@import './results.scss';
@import './nominations.scss';
@import './footer.scss';
@import './banner.scss';
@import './animation.scss';
