.footer {
	&__text {
		color: $color-gray;
		font-size: 0.8rem;
		font-weight: bold;
		text-align: center;
	}

	&__link {
		background-color: $color-primary;
		border-radius: 0.25rem;
		color: $color-secondary;
		width: 250px;
		margin: 0 auto 1rem;
		padding: 10px 20px 13px;
		transition: 0.4s all;
	}

	&__link:hover,
	&__link:focus {
		background-color: $color-mustard;
		color: $color-white;
	}

	&__span {
		color: $color-gray;
		transition: 0.4s all;
	}

	&__link:hover &__span,
	&__link:focus &__span {
		color: $color-primary;
	}
}
