.main {
	flex-grow: 1;
	&__container {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem;
		margin-left: -15px;
		margin-right: -15px;
		@media (max-width: $large-breakpoint) {
			flex-direction: column;
		}
	}
}
