.nominations {
	flex: 0 0 50%;
	max-width: 50%;
	padding-right: 15px;
	padding-left: 15px;
	@media (max-width: $large-breakpoint) {
		max-width: 100%;
	}

	&__container {
		background-color: $color-white;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0.25rem;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
		min-height: 180px;
		padding-right: 15px;
		padding-left: 15px;
		text-align: right;
	}

	&__header {
		font-size: 1rem;
		margin-top: 1rem;
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	&__title {
		font-weight: bold;
	}

	&__count-container {
		font-size: 0.8rem;
		margin-top: 1rem;
		display: flex;
		align-items: center;
	}

	&__count {
		color: $color-secondary;
		margin-left: 0.2rem;
	}

	&__span {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__list {
		padding: 0 25px;
		margin: 16px 0;
	}

	&__custom-btn,
	&__clear-btn {
		border: 1px solid $color-purple !important;
		border-radius: 5px;
		background-color: $color-purple !important;
		color: $color-white !important;
		cursor: pointer;
		font-family: $font-body !important;
		font-size: 0.6rem !important;
		font-weight: bold !important;
		margin: 1rem auto !important;
		padding: 12px 0;
		width: 150px;
		transition: 0.4s all !important;
	}

	&__custom-btn:hover {
		background-color: $color-secondary !important;
		border: 1px solid $color-secondary !important;
	}
}

.nomination {
	&__container {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		display: flex;
		justify-content: space-between;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}

	&__container:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	&__poster {
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 0.15rem;
		padding: 10px;
		margin-right: 10px;
		width: 5rem;
	}

	&__desc-flex {
		display: flex;
		flex-direction: column;
		align-self: center;
	}

	&__description {
		line-height: 0.5;
	}

	&__title {
		color: $color-secondary;
		font-size: 0.8rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
		transition: 0.2s all;
	}

	&__link {
		color: $color-secondary;
		font-weight: bold;
		transition: 0.2s all;
	}

	&__link:hover {
		color: $color-purple;
	}

	&__year {
		color: $color-border;
		font-size: 0.6rem;
		font-style: italic;
	}

	&__remove-btn {
		align-self: flex-end !important;
		background-color: $color-purple !important;
		border: 1px solid $color-purple !important;
		color: $color-white !important;
		font-family: $font-body !important;
		font-size: 0.5rem !important;
		font-weight: bold !important;
		margin-top: 1rem !important;
		width: 100px;
		transition: 0.4s all !important;
	}

	&__remove-btn:hover,
	&__remove-btn:focus {
		background-color: $color-secondary !important;
		border: 1px solid $color-secondary !important;
	}
}
