.results {
	flex: 0 0 50%;
	max-width: 50%;
	padding-right: 15px;
	padding-left: 15px;
	@media (max-width: $large-breakpoint) {
		max-width: 100%;
	}

	&__container {
		background-color: $color-white;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0.25rem;
		min-width: 0;
		display: flex;
		flex-direction: column;
		margin-bottom: 3rem;
		min-height: 180px;
		padding-right: 15px;
		padding-left: 15px;
		@media (max-width: $large-breakpoint) {
			margin-bottom: 1rem;
		}
	}

	&__header {
		font-size: 1rem;
		font-weight: bold;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	&__term {
		color: $color-purple;
	}

	&__title-container {
		display: flex;
		align-items: center;
	}

	&__info-text {
		color: $color-primary;
		font-size: 0.8rem;
		margin-left: 0.2rem;
	}

	&__film-reel {
		width: 25px;
	}

	&__bold-text {
		font-weight: bold;
	}

	&__span {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__display {
		font-size: 0.8rem;
		margin-bottom: 1rem;
		text-align: center;
	}

	&__list {
		padding: 0 25px;
	}

	&__search-placeholder {
		color: $color-gray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__torn-reel {
		width: 35px;
	}

	&__search-span {
		display: block;
		padding-top: 0.5rem;
	}
}

.article {
	&__container {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		display: flex;
		justify-content: space-between;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
	}

	&__container:last-child {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&__img-container {
		width: 48%;
	}

	&__poster {
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 0.15rem;
		padding: 10px;
		width: 5rem;
	}

	&__desc-flex {
		display: flex;
		flex-direction: column;
		align-self: center;
		width: 51%;
	}

	&__description {
		text-align: right;
	}

	&__title {
		margin-bottom: 0.5rem;
	}

	&__link {
		color: $color-primary;
		font-weight: bold;
		transition: 0.2s all;
	}

	&__link:hover {
		color: $color-purple;
	}

	&__year {
		color: $color-border;
		font-size: 0.6rem;
		font-style: italic;
	}

	&__nominate-btn {
		align-self: flex-end;
		background-color: $color-purple !important;
		border: 1px solid $color-purple !important;
		color: $color-white !important;
		font-family: $font-body !important;
		font-size: 0.5rem !important;
		font-weight: bold !important;
		margin-top: 1rem !important;
		width: 100px;
		transition: 0.4s all !important;
	}

	&__nominate-btn:hover,
	&__nominate-btn:focus {
		background-color: $color-secondary !important;
		border: 1px solid $color-secondary !important;
	}
}

.MuiButton-root.Mui-disabled {
	color: rgba(0, 0, 0, 0.26) !important;
	background-color: rgba(0, 0, 0, 0.12) !important;
	border: 1px solid rgba(0, 0, 0, 0.12) !important;
}
