// Fonts
$font-base: 'Amiri', serif;
$font-body: 'Lato', sans-serif;

// Colors
$color-primary: #252525;
$color-secondary: #F6F6F6;
$color-tertiary: #333333;
$color-black: #000;
$color-white: #FFF;
$color-gray: #999;
$color-mustard: #BF973C;
$color-border: #a3a3a3;